# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Web
ITalkerPush/web/ITalker/.idea
ITalkerPush/web/ITalker/.gradle
ITalkerPush/web/ITalker/build
*.iml
ITalkerPush/web/ITalker/.idea/artifacts/Gradle___ITalker___ITalker_1_0_SNAPSHOT_war.xml
ITalkerPush/web/ITalker/.idea/artifacts/Gradle___ITalker___ITalker_1_0_SNAPSHOT_war.xml
ITalkerPush/web/ITalker/.idea/artifacts/Gradle___ITalker___ITalker_1_0_SNAPSHOT_war__exploded_.xml
ITalkerPush/web/ITalker/.idea/dataSources.xml
ITalkerPush/web/ITalker/.idea/libraries/Gradle__junit_junit_4_12.xml
ITalkerPush/web/ITalker/.idea/modules/ITalker_test.iml
ITalkerPush/web/ITalker/.idea/vcs.xml
ITalkerPush/web/ITalker/.idea/artifacts/Gradle___ITalker___ITalker_1_0_SNAPSHOT_war.xml
ITalkerPush/web/ITalker/.idea/artifacts/Gradle___ITalker___ITalker_1_0_SNAPSHOT_war.xml